*~
*/*~
*/*/*~
*/*.o
*/moc_*
data/*/*.o
data/text/*.idx
data/search.db
data/search/search
*/Makefile
*/*/Makefile
sqlite/sqlite3
sqlite/*.pc
sqlite/*.lo
sqlite/*.la
sqlite/.deps
sqlite/config.*
sqlite/.libs
sqlite/libtool
