[submodule "libav"]
	path = libav
	url = git://git.libav.org/libav.git
[submodule "quazip"]
	path = quazip
	url = https://github.com/stachenov/quazip.git
[submodule "android/sqlite-ndk"]
	path = android/sqlite-ndk
	url = https://github.com/KrystianBigaj/sqlite-ndk.git
