Source: n9-quran
Section: user/education
Priority: optional
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 7.1), applauncherd-dev, libsqlite3-dev, libmeegotouch-dev, libresourceqt-dev, libqtm-multimedia-dev, libqtm-sensors-dev
Standards-Version: 3.9.1

Package: n9-quran
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
XB-Maemo-Display-Name: Holy Quran
XB-Maemo-Flags: visible
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAACxQAAAsUBidZ/7wAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAACAASURBVHictXtnkGTXdd53Xn6vc5qenpx2
 wi42Y4FF2EUSBRAEBIAESCWLlMUgsSxLsmVXWZZLpqQqu8qWZJeLlliQZZkm
 LUGgwITMAIBICyx2FxtmduJOnp7uno6vXw7XP5YAscRmSedX93vn3nu+7914
 7jnEGMM/hTz5SeI3eNzo+RhkPFLEIckTNJEggSALHKRsAsmJHUnxnWONNmMw
 BAGuxKFOHEoUYgs8KoxhDSWsPPZ3LPinsJP+MQh48rOUZjJuI4ZxxjBOwDiA
 MQZkLtkwgR26reNstjPZOTu9Upo8a09cpokqgNMgnOQYTvEMxx/+nziJfwTj
 r58AIvrGF3B3SHgMwCMAOq6l+MSYcvaG/UMJiqmO7/r+kRfPCsVNd/Aaqpgl
 4BvMx9cf+ws2dU22f0CumYAnf522g8OnwhCfIMKO62l0x0RsbvuunihxLMlY
 c5EShVHbdJZf+c7ZXKsdxq+xOo8YXvKBv+OBJx77MmtfS+GrJuCvf5WUiILf
 Z8C/AqBeo5EAAJ6ncP++/OzAtlSXz/Fr5aki0l0itZtmmB0eyAalljM5V/Vm
 l/Th6+yYZWL4awb80dUScVUEPPkv6BYW4r+D4cD1WCXw5B+YSCwV+pOqkIs7
 iEj8zPNTuqwIFM1EhPJGVUh1p+1Cb05Bo62aphssrLS82SV9KLweIhgmAfzu
 Y19mz19J9bIEvPyrpFTOf/XfAaBdqx0iT96+bdH5rt6EKBbSBE2yQs8d5lRZ
 3Ti5Np3uzySb664RyUJxDMfK9OVGvHJ7RcyNtLC12mHVtpyZ5ZY7t6wPX2vb
 AHxi+MNHv8z+6HJKlyTgS18ibmITfwPgk9fROBSRMz+6P1YSkzE37Mlm7ZXi
 emA6MW1bf5pPZEtOqeKQqDBJjST8xobNxboEEkUv9DzFKxY98nxXGpoAbcwO
 nDhTXJ1fbo1fjx0EfGUyhy/+wR+w8GLvuUsVnNjEf8V1ggeAfcPqrNg/ZGP7
 ONd6Z7rGuJgi51MeJyZLaPsqCZG4NXsmBlmLBOUtmWQtjcoGcYCi5DtkLpdl
 5ts/iASJ7s09OwvZ/ry2dj12MOAL2yv4X5d6f1ECnvgi/TaA376eBtNRvnpo
 InqiJyv3s96BmFtruWpXL6909kpUqQpEXBpLp0KpXXK10Rt5++x8WxzeH2NT
 R8poVQGzGbK5E6YQi6YZg+JXN9qkxEoHRpTU/pHIpCSQex1mfebJf0mfudiL
 Dw2BJz5PHyUe3wQgX2srN49FTvV3agPoG1pGMsM71S2P2pYkqbKE3rFhc2F6
 sXnmODHiRDEStQU1HomN7mtVvvd9xssCFxg6k1USUwd3y9Q/VggatVVnbpLJ
 2R6Pj2VN1FbjbGsl8fa82VgpO9eyZwCAChhufezLbP6DDy/oAU9+knjw+MPr
 AT/arcz0DXXl2717V+dOLVNtcpYDE0Vp285tAFMAQBseH8wdvjcmKkkPLuem
 RneUhMJQT/yWm4JQ8OzYaJ+SPLibqH+sC4zpjKGhHbg9FyhCUJo+myi1JS/Y
 /pHyTaNJLSpzrWs0MQfCX3zpS3QB5gv+sBR+nYAbrxV8TOPqu/uVLPr21zbf
 fjuZTcV4DS7CjWU5XJ6dY7Es/56uEIki2l2wY8NjEhIdGRBpSmEgm5jYHZFS
 CZfrHxsAAASqLsSiKeZ6m+S6dhRm1FieDc/98Ichjewr3TIeW7pWOwHcM17G
 v70oAU9+gRKMw7+51holHubhHbEyDd5Ygq1Lvd0pKXXwo6O8GlFDTuSrM2dT
 ga43UF1fBQsBSc6ou27TlL4hBsNow7WavGW4anePJ3UPaGAM0M0NGK6FYks3
 jryapOSwrEzc2hp6+FciyQglkRlIJFPR4fFedeZSdjGGCguw8YFHAQD4Fh78
 oN77c8D/+Sz9sSri318tcJ6DM5rnFhIRgevbtUuwk8OJysvf3xI1Wcsf2KeQ
 bzWRLEQQBg5CFkDRGCvPgwKJ4Jk+OJ5Dth8wWhISORHzRz0kYi5aOsAJAnbd
 OYz5k7PoHc0wFurMNhzPdYTSC9+WhGxB77rrZ1Uc/1b6XNFcqTT9yErFGfqA
 eb5nokpAhhOxwIkY823MAfBZgDGecOBTf8WOAz/uAV+6iwTHwwNXCx4A4ho1
 h/vSub4bD4ZeYgCl7z/X7BguiLLfahulLR2xjiTAAZvTMbTKPnw3SrE8QzKn
 IppkbGjvqO86OU+OpD3HiGHn4W648FAY4pHrD2GbJTjtJBZO6CRrOS6R6zRP
 HWEy5+V4juSNHzzTYttu3xjaPhrdN6zxH7QtcDANhjxjEALvPEbi4LIAEwA4
 n+GxC3rAv/tZemTXIJ7gOYhXS8ChHdGThbHtEX1jTZCViONKGU/r644Eeg1C
 vi/H1udqvmd5dlP34rc+OA4WhFZxaUU/9XY9MOpZVSJPFKnFASxkIef4lHCZ
 aksd3Y7WM5BRuoY7wBjXPvLtOa2jj+PCgEfPaMovrVuBEpXKr79gpvt6YkIy
 U5PNzczJyWJ5dsMeBxD4JmqMIQcAjKEoSNgKA/AsxPbzqDEzJmLn/q8wTwCA
 WBT3XAv47X3KdKEz3WepHZX1c+/EhvfuomgqqQGCyXWN5GHpBrrGNCy8vQVJ
 DRrvvnY6WJ2SVTE0szIlOU0ssBBCvRk2iZgQi4qRiAYweC2/vbhsvTur68dk
 Sxk/IJISR2DpIje8PwmrZQiZgiAQYz29Bbddb1Y2lzfDrjvuaezynFS9vVEs
 1yG/Bx4AiFAIPBQuAMAwNu3jrv3AiwIR0X/7hWs71o4NJCN2YW9l5fvPxDsG
 CroYzxAEyQLPRVErbYHAKN21LeyccL23X2imoqGoU5g+cda3682gpZtskWdM
 S2cSQbHcyrs+83kOOsdRO5kgaaCPo+HuIC2svFGstyki3PKAJGqxJHSzisaG
 j75tA8SRHrn9Yz1bLz4/v/SDl71th3frN9U2xW9thh6A9JUwUIgJAC8Kv3wI
 naqInqsFL4nki/GsUJ86Rpl83BQC24cgKQhtARtrJkSFWLIDtdeenRRqi3xU
 FrhXj1lscTUUQNzO4dH++Vt2DjqaKsvFhXOhD1ZV0x28lkzxzeK64NQ3k2cm
 /djiur9WyHN0Q78M661v297ozTOx5IgPR+Fw+uUNdI8y5tqO06zH8/1dsJoe
 J2vRiCq2YtbV7RXHAUAQgYIiIX+1BIx2yufAi1Kmt4tCOR4imglhlZqIJFXU
 2zzGbo5vvvBENc4bwno1ZG+dMgTPx/DYaGGmf7Cw4TmeUjdY3E101TvvPSgN
 +utBu7QpW74QpO65ww+WX/drLb/1/FNHR+PgNl5v2/XRPknsWJ/hq7VykBm7
 MYXZNofOoQS/fLoczRec5OiOJNpViYlatTur1+c32MhVQJkAACGfwIQsIHY1
 4Hf2a5PjfZERdI3PrbzwrNy57xZJ1TQHlYYPMB+do1zllWcqOc3hJ2cDHJv0
 e0CI9I8MLPbddFuQ3bGfqHhcKy6e1ZePPCfWv1UV03AjsxUWkWRx68C+glV3
 49zYPTeGHdnJ1cO/+Wnv6T99vPBOw2nfe2fEEVs1sbE210h2jQLtBlCe97tu
 vj1vTL1dIiWqan372B52glVbxUq9/ZN54JIEEBGXVJGlqwCvyVx7fCSbdbr3
 Ljorc0puqD9UpNAGL8fgGDI6hqP15WVf80vO7KJLx6b87t3bChsP/PwjCzfe
 ex/nTr8TzHz599jaN74mH3n2WPfqUrVX0jSxb9dwS5WF9f23DvMS7zJB4KFE
 VdYRFwJK5ONDg8lSq46+F19aTUuRRCRcnVVMkhVYTRtyROAyhSSfyLLAbjum
 GbCw9ybctZOzJQHeFSDlvvbL6OQSKq7KB7dnUJ1H787NzeOv8sHWskFOC16r
 EWD+dRXg8qFp+u7KVNr1KP7WKS81sS1f7R3ropWXn/PK3/uqUVmcZQst9Ce3
 DVVMH9rBu28o7r1jr+PUdXVsJCMfe2NOUNNafHSHJgdGVa7XjCDYXNI5PuQf
 +vQ9c4VctP3m0dVQ0ERn5egrfmAZAfRqb3js2eUw8Di71YYxf5oW3z5my707
 rD0DNH0FSMRLGOBSEVy2A6gyZ+0bVE93Z6T+1vq6pMiq7+u1PMIgtOaP9qJ/
 XwR9u2r64pSVTkn6D95wPMaQzWVjRu4jd3Rr2ydEPxkJUwMpajTtiC2pYTaX
 MMkziRdVbn6+wk6cKQf3fOZu4/jRdevID86KoW0JMZlPhXoVW2U9jPZv44cO
 7jcWl52+4mbbkwWPWqZnY/DmZa6wXXMrmzE+kSFydds39BhLDzn9ndSVS0ot
 WeIvOSUyhg6OCyBd4csvjHQpO2n3fRv1jTUGORqI8VxD7ByMyIO7LQAa4yWZ
 K89iYcVjLYON9WbUReL44PjXn1ma+Lk7C8LQPjo53Ro59DO7FiLxmPqRhw/X
 Q70kzL97hopN6h4cTHCZ8WGz56bdvmWEvhKJOjsPjZco9ALfZxxrVxBJp5FO
 8qunprzBuCoUqqvzImRtAEZxI3XT3Wa6b4hPTOwTOgZ69fJGLS6O3bl2z83p
 paGe6MrlCOAfPYB7Adx2KaVSw0+O9yhWICfMo8emQ5ULhHxvh8CJsu+Wt5rM
 tQyjVm6LZkU5esa1TBv5e3/hZyunTq7GZ99d7GalzZUbHjjc0Tk+vPL6d17v
 G9rWXd5cWvZDjuM7O3h/x7697WQUPIUtO4ykaeX4OT7fnVRffuqo0NGVIUVy
 lWxXt99cXfb7Dt4RbG2ZohC2Vihsh7F8X8NYmdXsyqYhaprAW1W3ul6JbM4u
 cJ2DXW59cYo/MmVf0pVGwOscXeTsz0JY7/32fCa5XljkeS7szkhqIpcW4Huh
 b5pu6OopKR6xrbVzfdWaM1DX0dGdV8tR3ons6PS87m65vGNvl/b6n/7vZroz
 nX749351c6XlcVU/kRQ6B7zkvtvTR55/iT91YpXa60W+trhOiuS7oe2HNSdM
 N1u2NHLTzXnO2vAty+FIEIOJsfTm0rod8/xAri9OC6Isu+b64hADdTLX0GKF
 bkPQIm3o5XjLxJV2BDwX4idDgAGWZ2DRN0GBh833nguSqDTWykqu0AenzThK
 d4Mo5JV0ImCcrHh6Pb5RZWtBgM6utFT2N+b8V97eyvMCecxz3JmFRuaHf/K1
 hqwoXXvuv31i9wOHJSU/Fm01A277wYFmca2daNY9SWkXU6lokAGRy4BQUBV3
 +cib51ZPnxPBiQQGLsabstFkKVXg/MCqcWoqxcXynaXANmqkpsSwXU6qESm+
 sdG2kxEIF0PtNnHaNTFLBBJAkHD+RMx8CwtguAEAKEA1CFFSZaTAK67eMJwY
 39LeeKM0qPD2WcBTM90F03U8HwDWy2gA6B/ujiivvbMFXiB/4oYoW1zYCkDE
 FfZsE4xXvrMqD4xqctdw/tjX/n5NL9W377opUc6maTHwA62nO2bJnMCBGNcX
 42sJVXRPn2txuQ6Fkp1SQKETAZil60iFoHpDNzIFJtTlmMa2zs1YzabpLxQD
 9ZbDe9rV4qaQ1SgDXOjyC1ws+R4iWgxdBBDHMUgA6l4bGwjOgweAIEB36GH3
 7k60eN81GlVL4USRDffS3NJMJVPd1G0+EvfQ2BAAQDcR782ra0EY+m3Xlw8e
 SlYnT7dx/ESZf/Qz+9do4QT727+Ziz7/F881+OrG4v2/9SkhkU9Pry663O59
 +QxCHyfPbtEbxzf9wDKVsh6Y8ydmuP7htBWJkMOJAoL6hs+JPA12CpMtww/J
 94lxYcDJGnvjVCs5ueSlejKcX9lsiZtFj5MUJTXYiaX3e3gA023B4yXo4KAA
 AMcYZIQgAN0XTgRIjnViZjBH4yZTI+XVYoHTFOy84wbtwL5IqbdDoOLRU2pg
 Gy4ACBw8VeIdz2eeaQTJ11418rnRceuh+zqcl//+WHhmWexOd2YjNVMYn33t
 dEC19fCun8kJHT1xP5aM2bEIyDYD5oU8R4xxLgPZTZMpakrL5RVJkETmVNdZ
 vL9f7CxoZLvMlnhq+62auH5m2r1zh9i69+ZEaeedh/OCsxlKZAMdY+f2j3BK
 QkOdBdDNGngGqETnh0bIQELoIcJ8rAAQAEQ/yIEoIAAgyIoI1wsljhNkuKZR
 rTmaIssQBPjv6XIcvHMbxvCOWyfmHvyNm9YVhWfWzJnIN7+5pgwOpp3dd+ws
 qplcxqmurX3vG8ciwzsH8KNnZ/1Dj+wL3nhxzsvmFWWkr1sWq1sNnoXKLYf3
 RaLZZLtd2VLry0bYeViEz0LBcT1DVCIajJYlEBzfMHhJIHiuHwPv+lKzuMIY
 L2WyZFHgauUKQtdB4JlYBbCLE9CQYj8e5gTiH92Lh0MfdwMf3g+UW8h1pehk
 VBOilsvV4lHyvvf0cnxpLeitNFDeeWh8PHCdotloFIoVbFouCu3Not9rzmae
 fWq63D+YEffeMgLf8ayzb54MvOpSw6w1wad6wpgMTJ1cS4e1UvPAQwd4KRVX
 qxuhUVpuCPEOiTV11xm85zBF+nu98pm5WGaw225sbDAlEede+M6Zbbk8tlIq
 J8bSSS/W1TX8xpuVxsyil2xWGo4qy54mhLEoKv3fecmvGW00Qx8xAEkWoiN0
 MQ1CmxNwUgjwk694MTm7wdKHEvVEb196RY3HZCKEBw/1LtguFH9jcVZMdUoA
 wIsIAWCswDZfmeLqYxMx9ZnvznU+eHilfOQtGtx+64GF3M5BSqRi0Y7Zk3p9
 eorftze/NnTfnZF3/99TtO2O/faORw4iM5Rgz/3NG9EgDCNnTvxpFSH0dFL2
 hyWRAs8jDmBEgMxDc/3QEUJPotrmwuHbMnal1G6enXcjPRErkDXR3ix5DcfB
 h+4PAh/jPMPs+aHL4F300uz8PGCvFGFi1M8lEoJkGDZ/932DlibbFBYNK3Ag
 CZIUBYBcAmq9CWSjlMzkFL+nIHtH3uHVNfVG87HfGVhxV2fZqaefE82GERpm
 QMm44A8OSKJTraBY8RrGiyeEnmNTdGSqleQ4Svziv354U05Ena/+4ddjvuda
 PEExmm2ThUyVVehxAW0JnMpp0Zi1uGhStivaN6K2Owoev3y8lE/3aZXVc6wM
 IHsxaKEPNwRI4AD3UgTYBqZDD3vCEA3Odcxy0RRzHbwCPhxC6CytF12uL9oI
 REUyBzrdgbk1VPwQ4uRZqycgZeUTv/nInD3/rnLyqUlAVKWxXX0AJ7aP/mg2
 kk2YxrunalyPO2vIyYTCwfbhuurddw0ZdqtR35icisY70v6Bg73e1DsrCF1L
 dGwvtJpNiiWwqgKKSJzfWquVWnU22N3JSl5T75ifdmqKyNU1xY6Wq6hc6tv6
 NraJMjJcwC4yBNj5xTP00ZVPYYvjkITA+6bhK3qpbYGBKCpqqaxkkbHlxOLS
 bE7DajaOYrHBqh/79F1Lew7vtRLnnhl47Yfz/EiHlTV0W37x22eSizOr3N0f
 7Wk4giDfdlue1dbK8kDcFAmMfMdJGQ1PbJYs0WyZYWlqSu4T14dyaZKZ3eYZ
 Y7Q2fc4eTiPkgKFERiNV9YXu4ViV/PYgz1NCb7qhCQo4jtfz6cv6OWTHhMl/
 ci/uCkPc+j52H6bTxoprQQfQffceWo6qyEGUqrwbcKHrubLgG4LEV5WkrJIq
 jkgiJ24uOlZvF4SXTmHEWlw0aG4xKnBBa64IpFKale+OmxOdeoLAHJHnpOUl
 k88kBS47MBjoLgLFbmuTs6E+fVaPB6Jm3PKpuxQwwV9baNQGe+U4CWCnT9cV
 vWFLoz0YkGR+K5aQCzzzRXKcKhy36OlOOxIXaXB7PMfZvtGpeoOOh9VKE8mL
 McACPMl/fDduYwx3AIDvYtFpQ2EMEeC8m+xcEZkgxHQhZncJzIu1DTJ80xM1
 wRsza25biohrCIL2Ving83GWWVhHpdiA299FcjaFlOnS+rGzzra8ojfemmLN
 uBy4R94xhb6d42b32CCvbxXZj3603jmxd8De8eCt9s2/dIjv6E/YAQFvffOY
 PzOp53ySy42G6S8u2QPD3SgnY8il4+Ia5zh1gAy47li7FeqOzSxB4kRF4epO
 3dCee4d5i5uX8Xdy+Bp99Z/h1ziGv2QBDKsJH4TExXR/7mY6nY8js1mDn4zD
 Z4AiCogK4nmHCgN566vhYjRBuSdfYWbgozuh4syjh2m0KfWu1ttiCJ4PRsZz
 XMhJirGxYr/80jm75YkjH/vFW5aDwOOm3pgOl8/VybDYYC7FzT30Ww+Bj2cy
 tbmZ9lNfeVVLxtA+tBcjERlzMYUuOOU16piNxpABwRd45N+eZTMnz2HsMkMA
 AO6jr/0S7gHh+66Bk76L3ZfSzEWw9dBOEiBig2LYrtewFk2hQITztzIm5nwO
 2UYbjRCIfPt1RkGInCxjfu+oFO7YFkuJsuAtL7W8V45bzPEwEI/LzYd/ftfW
 yrsz4dFTelZWhYZpeWEhp4TttsPXWowngu96yGkKih8/RAWOYUvVkMAHYhAD
 DyXHQU2LYhwGzroCtP/7MusP2eWdPQTcyD+yG3wY4FdcCzG6TByQ6UHjCfOF
 CI3DwxkHIEGAxPE/Pk772OAcuJARDwM4I72EhSLqrovBtXKQcQ17+d2zbU7i
 A2u1gm2ZdGTr5z6xvbT27iRqVaNruYz4Qx/tbd64t8BbrYawvT/snFlhhuth
 MBXDwqOHaahRYUuKRLwof6BbM9Q9B7ooIsIZWGc+Ct87w4KmffGe/AEJGYff
 53d/HA1tGZ8mhr4rFMBGCx2ygMmOCMU4Acxy4DPAEwALHgz46BAZ6g7AUQh/
 /xh1rFUxZ9rIEaFYbqBww4jC3bCvt75rd65+/LVpznYDGhsUm9NLQXppzWJR
 xbNffkvvKtXYkmEhN9RFM/cfoJ7iGltNKxTTZOgg2HCwCA5yaZPVZVAgiQjg
 ouPIMqvOb2HgSlgA1D//XfYfiTGGxx+kH4Dh7qsohEIcWw/sILlmQG/4zCjk
 Kaaq6ISNDfgI4KIXQNkN0K47CDsiCCwH/OvzTF6ooBdAEFMxbXtIeD560klu
 68B2cf3V4+6YaTOFABeAFNEw+5EbKREVYG+VmZ2PUUwR0XWBMRoWWnVQRWdB
 T5o4mUPHV99hqhNc3A/wQWGENz//XXarAACM4Qjh6ggo6cgGATbSGrrWipip
 lFm1L0E2wgtY75B4dOQ11G0PuiYh9pHtlDzsYX6jwdrLW0iaNsh0scjskDt+
 wknlVTSSOTQHMmTnYsh7DFKjzVoOUdCfpou6tTwTbLPFGAGuzGGH7mDKCX58
 AXoF4UO8CZw/AYIRjtBVBiSGDDhdZLU93dS1I0+DZ0psuaChW+Qvqp5SBKQQ
 oGkFMCwPXD5BhYEs8owhNC2UnQBGREZWkZHwQsTaFtY266weA5BNUDfPX9pt
 3zKBIEQ41kGjDKi+vMCueCf4vhCOvE9ANMArFged4epuiI6u4oZCHCfzMeze
 1UkjTRMrIaCnI7jBaWNW5uFCwSgIEjw0YcBXGeqqCEO3YdcMZvsMgs8QMgbO
 9rDFW1STCJ7KgZI8acTQDxMLiF1IgGmhrKrIrZfZYjpB6W1ZUgjgXjvH9E39
 qsY+AJi2jR8CH4gQefwBegnAnVdZAfJRbD04SjYZUEKgteIxSvCw4RIXl9HH
 EzwIWEQMuwAwtDEPD6MXqcrGeb+VCKANHisQEQdBhYT8Bxcy3cC63mYt8GAS
 I5YVkQchuuJj8/sLrDdguHg//LC89rmn2SHgwiCpt64WPACU2sjObTI9ZBA4
 YGhApMGQEccExHiCCiAOH7uhYxI6pi4BHgAUADIknIWGFhTkAZiwkIeH5eYm
 O+M7aABANIICJ0ASAScrYkcARKZ0trLcYNY1gAdj58f/BQQQ8CSu4Bv4aXll
 AxN/e47JDReTAJDhMcaHP2WIjzH4uHyYq4RZiEjDRAI2auARA2D4HniEkJ0Q
 uh+g7fuwJcDJCTQBAKer7Nzr6xid3sLlki1+WnQh/Enk6PsEfPZpdowB37yG
 igAAhg/12RU2ELLzR88lg1UmG+xk+JNTpghA8CqYDS1UEcD3GZpNF+8HLDIX
 Q802azlAESFUWExHG00hQCuRIyEkOIaFrWMrrNR2CACUdROnjm5dV77CV/75
 c+z96LIL4gQFwp/hx+Fk10RCgMiRMqsBcG9I0kRKItkMcEEgY2AwJdBRBA/B
 DdD22E8uLQIGFoZEToAIGAbYOSRZi20ixHZY8GMOoq4JfiRGfJ+G7QHD+g83
 2JX2+R8WwkYg4b9c8OinQ2Uff5C+CYaHr7lyADvTmL45R4MXu22yl9mK1EVJ
 Trz4ssYALJpsJi9Rh9ZEFRazqId2/rSeH2Lj1RKz51sYukg1lxUCfvezT7M/
 +eCzD+2YiOGPGXA7LuFKupycrmF8RWetHWnMTCSog9XB8+nzgQpchMxKi7lJ
 G+tyN31ozBKAIZG6WImtMhcxZOn8AuCiyjwEngrz2BbzphrYdl1JFMCkkMOX
 P9TuxfIFHv8YPQDCE7iOJIn3ZE8G03tBPHMQuB3IGj7KMQkFoY6qmMXFQ1hC
 BEzHKsXQAw4CTKyHZeZSN6W+V2b6chu912lOC8AnP/c0e+GnX1wyYeKvHqTP
 BQx/Dlz98nJBxQA+PkBn4zq4oMY4J0uBGEdWFS7sWezHuheIhXW2xepgEChL
 sdM2axypXF+CFhiMkPArX3iaPXVROy+XMvOXH6M/YIT/gOskAQCGYlg+mCFH
 qsAKGixFMhqcRHwth2hUQnpJZ6s9GnW4BrayDaYxgkNASDmSWhLMN8ssvmJc
 /5cnwuc/+132xKUUrpg09fjH6BMg/GfgEt32KmU8gbkDKeL4TeiByeL1XvK3
 XOZ3RSl3rMT0PQ7kLAcHOSJTgfVGiUWXjSsf0S8lDHiTGL74uWfYu5fTu6qs
 sT+7j9IRAf+JgF/DP6A3EIA9GczsjVGCmeCqCqysgt7KGpvuYGB+J6k/qjBa
 bH/4MuNqhRGqBPz5tja+dOdL7Iobu2tKnHz85I/bqQAAAPlJREFUfroDHL4I
 4CFcR1LFe9KpYvP+XvJ5Qg/bYCdBEIwsid9aYT2Wf90T73EQvs55+Otfe57V
 rrbQdaXOfuV+2s5x+A0CHmVA5zVXACCroPJQDxFVUXEykJ9YZL1ucPXxygDA
 ABOEb4UMX/31i8zwVyP/oOTpL91FQlcE9zDgMAccYsB+XMPSORLHuTsLlPru
 MvNL9hUDG3UASwScY4QlBsxzAb712WfZdWWTvSf/KNnj78n/uJ9kDdju8+jh
 QnQTkA/Pp8tzAHiOgWMEgQE8MXBg4AsRJDdNtEOCTQwWABOACQYbHEwKUCdg
 ISjjzOffYVcKfrxm+f+Wokz78X7yUAAAAABJRU5ErkJggg==
XB-MeeGo-Desktop-Entry-Filename: n9-quran
Description: Holy Quran for MeeGo Harmattan
 A holy Quran reader for MeeGo Harmattan. Allows reading the holy book
 and allows adding certain verses to a list of favorites to easily
 navigate to them later.
 .
 Translations, recitations and searching are also supported.
