Source: quran
Section: misc
Priority: optional
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 7.1), libqt4-dev, applauncherd-dev
Standards-Version: 3.9.1

Package: quran
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, qt-components
XB-Maemo-Display-Name: Holy Quran
XB-Maemo-Flags: visible
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAAAxwAAAMcBYjN5IQAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAABR5SURBVGiB1Zp5mFxVmcZ/59x7a1+6q6u7
 unqp3pNOJ3TSWclCFAO4AQkjhgEUHWDEjAR5YNCJGYzgjKKOOioKPoODomyi
 iIygLAGzQOisnZCl00ma7vS+b7VX3Xvmj+ruBAdnxnGceTzPU8/pquru+77n
 ++453/e+Vyil+GNH+R2rnDIRXycVa5SkVEhKUJQiKAFA0YugR1n0CoseS7Db
 crq2d33j9cQfe23xPyVQduuKAt1MrVdSXSmFuBSpXEIAYuY//84fqHOzUoAl
 4pZSLwlLPJvV7L/svr955P+EQPENC912l7hT6NwlpPIImQM7MyNAiPMRz14q
 B3z6paxzs7JEVGX5Wiquvt7/yOHYn4SA2LhRiwRP3SSlugepioU2DVqCEGp6
 PkfiHSMwA14BFiglcrMFygQs0W9ZYtvZ4bofqJ/+1PxfIxDZvLhEs6xn0NQy
 IWEWvKYQEnxOD02FRSz2pwiKETQrDdkUbptJnhPiSYvT6QjH4m5OxzK0j/eR
 tdQseEwxS2L6/T5Tyg1nv3Ow948mUL1p0XKl84yQKiw0QAOhKWy6wXvLS7jI
 00Wd/SSGBCkhnYXBSR+9I14mEl4mEwaRglHmFHejSQufRyeWcdCSWMAT/U7O
 jPeirBkCAswZIqJPZNnQ/kDL3v8xgcpNTdcLTT0kdOUQ08A1XbAuUs11wcME
 RC8nBiv5zRv5HDg6RiyRYmhqgqRMovt06udVM5gYJ2ElYQTqvMUsrvawvG6c
 eeE2hJC8NrGCn47DQHTsXBRMkZuzIqlMcXPHA4ce/YMJVG5qul7o6idCUwg9
 B76+qJRPV54lTDu/eHM5Dz/+FimRJRlK473Ax7VL59I/ZPKG1YUwBJsrKmht
 z/Ki1Y3Qc6urRTWMQY28cZ2blo6yqLKXZEbngc7V7JjqBQQqO01idhYf+X0k
 5O9LG6Gph2bB64plJRH+oXIPqajkun8s50v/spfMSsG2rdVc8O45uGsc2B06
 Fzv6SXbH0eyCkymdy/zHSZyMI+0CzS3YML+K9zcG6a6f5O5Oyb2/Xspw1M+m
 8lf562AhmgRh5K45s3BCUw9Vb1q0/L9FILJ5cYnSeUboyjED/rKKCm71v8jL
 pxr50G1t9BWME/lkJb5GD4W2KZZPKcxklqOZFA35J/F2ORGaxaBKE/bHKB8N
 IKSFMBRjlmKl3kr8VAxntY0360f51H43e7sb+UDZ63yhVMdmydmFm54dSueZ
 yObFJf8pAbFxo6ZZ1uwNKzTF+opybvK9wK6zy9j6lWZCV4cpvKwQwycRNjhL
 IesXd5I4FqcnPcKoWUjfsSHIQr7dQArFcP8EZiyL1GFYZSj1jVKVKEJoIJ0C
 e73Bd9IJnjmxiBr3UTb5DMhY50UAhFRhzbKeERs3ar+XQCR46iY0tWwGfFNx
 OVfqL7L9zHK2fXM/ob8I42lwI+25MEtD0SMcHB2sIHkySZwYPlcWAoprSyvZ
 pF5GmUkev72HB2skHwlUEXYYWLqLA2+cxEplkLpC2kH64VHbJE+cWM77Go5x
 nTOIMs23kUBTyyLBUze9I4HiGxa6pVT35PZ3CPkCfKpwHy0Ty7j7m/vOgbfx
 tvB2Y5Lvj6NVS6QDuq1Cgnoe+9MpHtizDIST9qEI/T06HzBf5ePpFyE1yVc/
 Xc/1kRreE6hhgb+cAocfzSn5tX+MA0ONfGzpPpZFg6BmwOfOHinVPcU3LHTP
 4NZnfrC7xJ2zJ6ymuK02hczAvf/USuHlITz1bqQxfYhNg39/4Rz6EwlK3YNk
 xzO5HLcHCOfpdNDN6fkml4lKvvVzi1ZPN349xC2L8nnP3GOsqTiGTT+O3SaJ
 WiZDNh93toVQZYpXZYi5qU5ubjzGwR1FqAotR8ISKEsV213iTuDeWQJlt64o
 0HXumjlhFxaVs9D2Cvc820S2+DjeBd7/sPK1/lI+KE7gNHvwe8CV8iM1GLG5
 KS/PMBKdwB426FYFrGyKs27lUlaZxygUx8gqnZ1H69h+QKNvMEZ+vp2xyRRd
 ejeV11Xy13l7eHDvfG6Ys5trSmp4NDWJtBm5ckUDoXNX2a0rvtt9f/OIDqCb
 qfXCmC7MNMXVBV20jtfx8+cPEPlEBGlj9gSeidClhsVHH5tiTdEi7lyxj89e
 4meXFiZrZll7QRKXqKZOKeqTp1m9op/+aAEvnKzi2ecMPr4hyJmzkiPhTrzv
 8zBgt8iMZAm7ishoacbTXtRImvZUA+sXtrD9+UYGK5I5DJZASOUxsqkrgYd1
 ACXVlXK6MFtSHKHB/hLbnlhE3oo8jKBtGvR5Lx3aLAeJySTHrxjklfHFXFRx
 gFXJMwgB9hLJhaaibaCS4aSXnriX+x5LoM3tx/NRA9FQQI1tAlvCwBHWUUqi
 ezRUJncCnzFqmROe4IXuAA0NijUByZOTKQyfAyVzWWIKtR54WC+/Y5VTF+JS
 hEIIxZr8BFOml1dfO0HxJ0rP5b2crjino1Bjy1AxrwTlStPn9fPU68t57pVe
 6sIBbv1gL5/4kmTLZj9rq94kmTR57DMgBVgKROwsqbl5+GP19Lm9nLWytMeH
 iVoxlBL0WzZO9Ql2x95i0zwPq+oHePhXaXxNdoQAJQRSiEvL71jl1GUivg5D
 uYQETde4QLTwwqE5LHpXmj4jdq5knl59j83Ntf5Clky+wfLFJtvjyxjwK4JB
 gXl5goFlY+gj8O4PV1JZM8mTry9kbe2bPLFzAcGAxO3IUFYwSVNFBytdB3Gm
 slhKEc9Y7GU5D2aG6c9YVJbq7OpXNGeWcFloF3nR0lw1Ph0BJZVLJuLrpFSs
 manji135uMUUZ85alM7LJz2QQjFd7wtY4azg67ZuLkrtY+eJal5uqWVl6jDr
 Bk+TZ7OwkhaaT2B3G8SiWeLjFrsSKXTN4olDh3m6tIOHbV3864QTTdN48KUF
 jMWcZLOKM0MVPP3jKEMvjDBqZakrzZIZz7ArJbEZkmXlRVgZa7bnEAKkYo2u
 JKUzHxY4HFjCIM+r8+yRNtxNTqQGQgquDVSwLtvM/bsv4Omf7EcrP4l/sYtH
 9/iRJyWfWG+yqbKOHVaaIWIcbR2gY2k5X1n+BoYuWFxfT2rVFBWyjEuiGkxa
 fHRtK7/pmM8TT3TTFevC2+gmuDafEStG0D5EZjRDX3KCeMJkaU2S37bHcEV8
 sw2TkpTqQuYabyEgYEiGY168AUmmP43m9WAzbNwS8BOJHeXmh4N0jO2n8p4Q
 9pCGdIBhSK7IRugYNNmgH+HYU7VMrHUxPjLIU/Vnef65+WypHeWbH+6geyhC
 WbKZHquSKcvGDfe6GS8+TPBqP/UNEVACZUpG0hMU2IfIjmlMpqfIKoPK0CiJ
 V+I4I16EELnMkJTIafUAUAQNE1NJJjOSzRc1sLG4ki/kp/FP9XLzlzP0qEGq
 Ph3GUWyg2SUrHLV8YSqLGI7x8A+a+fvxYl7c007C6SHjTWIrFJR+1IsWkLjt
 Gaqyp3hoeyMfuv0thlUZvkIXNZ8NUboihGaXCF1QZivCVBnStgBBzY8SiqQ9
 hMsuMKPZ6WM3l9IoSuWs9AGU+CUet51n95yhIi9KuL+XJ7b7uWXrANnaDGU3
 FKG7dZrsVXxZd/BXUy081lzMFz67j+INPq5YVsEP/85NymngqtH54OQcbmvZ
 izOT4ER/NYmkRTIJtXcHmSoNESzwsNRZx5psiGzUpMIIs9nqxuxRjGqFBO0e
 UIpxWUAylUFZv9O7CEr089+PJgWJrCKaivKLuJ9Xn9qPo9RO6JYgjjIDp9PB
 ZsNJ3dQefn5mId//Xgf63CPUfy2Mu0anU2Qp7HPzs8f7uPfySqpPHeS+VxtJ
 jJiUhWxMiiYWV2WJ2mvoxUZBiR1vHCp6+4l2JehaOIBXxlnUXU3PXDuBgMVo
 Ms3AlMAWS/NOQ0fRC8wFmMgIMpbC5XaiOzXyLszDXe1Ec4LL7mSLS+JKDPGR
 r+YxKA9Qckc+ngUOdFduq23RTtMbKORLH+7icKyUa74osGqO8+7bGsk/obOT
 Nj4WCdL2houxALjyddqnoqzV+oi2pfE2ujlmzMeajNI/oVNS4qQ1Nk5QjOIp
 soPKvB29olci6MlJOIKYpREJDBPODzLeHccWtCE0QZE9yN8ZcRJTFtd/boKJ
 simqPxPG0+BCGrkbCgvqrSq22lt5vreWu7YdIv9mwcJ/rCAZThMs1JnrqSHt
 8tLy2gjRlEVGg47YMPn2cTKDJihowcklK5IMTUEoCNaUxcLCUarK8nJ6zDTW
 3F1Mj1QWvZD7biSRIZNO47N0VhXacGhOluRVc5/vFB1Dedx4ZyuOtQYlfxlE
 OnKVuDIBU7DArOKG1n18u2UB375/D3PvKyK4zs08q4yRwQlseoaIcrLztIu+
 wBDZfEhaJmmZJIkLr+VBmYJD0V4WFLXT0xYliSQgfKhsku0HfQibdk5XApRF
 rxTWdAQUnBwdwBQuKvPt6E6dJ+e2cbd/J619QT677RDlG0P8YGMJdaIMlRXT
 YhQsEbVce/YQ9zXX8fOn91P/lWI89Q6UkuSndAraCngrY6BlLLIpha1Ex7Rp
 oEsKHQWEXDHqQyGUqYhbcY7TSGfrKEOmpKKogKyp2L4/i73YObsJoUBY9EhL
 sHtG8kuaaZrjS5hfmeHBXce54selrPxbG4/tchG42E9kSSmu1BjOl5LE2pIo
 Ey6xN3Dd+Am2/DrM6/tPMOeLxTjCthzBNJRmTbaE+nhpZyfOYgOnBqvDdUxl
 M7SN9rM+UMjeRBOfv/IUlQMhgrKAAneSEXOSEWGxoTaFZSmaW/pxlrlm00cp
 sAS7peV0bccScWXlVvOVSRsr607ijbnRlhm87zPLcTZ68DZ66U+PsPmkg2f2
 vYnu1rlaVnPxxClu/L7g9GAnNVtC2PINLAsKzAJumShlZc9v+c2BEkIxPwPS
 oj2ZZVP1Eeq70ty6KkDYivK9pyfpTwW4t6KZb9j20TngYnJ0Co/fzmLbfna2
 NdAzNoARsJ/TVS0Rt5yu7UIpRcWnFj6jGawXBmiG4vsXxNnbWsxD5jAXVdeR
 OjnFgbw+7EENoUODJ8I1Wh+mtHPrP3Qg6kxKrgmguQW6pvNBrYpLB3eza2wB
 j/xkmK9+bBRhGNz4vEnhFV42pYtYbD9IR7SWT31riB9t9fKzrgh6d4aBniQ7
 mttxXubia5cEmSuPc+NXq+gJTeJbVIAyJSoDZoZfdn738AYdQFjiWWWp9cIC
 y4JX4vO5duHLPP54Ne3BCbY2dNCUrsFfZKNEjFKV+S2v9C5my5eOELjcQ/DS
 fNDBa/nZmoliF+188odhWk8doPiqPL7pqGH0h1F8vgTz8qt4NW1x+OCFPPL4
 ftyLnfyWWj5e/Bo3nSomWZKi9m+quH2ei7mpZl4+Op/jXccoW1ebS59pPVUq
 8UuYVubKbl1RoJPqkIbySB3sNo37auIcO+XgoWycC4IR1hsDhLzj9Iz5efWg
 i9cO9CIvB/9SD9IONsNgi2YQG4Pb7u5Ea1KUXBdAc2kIoDFVwceS+7CbMWyG
 QAo4GW/geWcxPZlJPpns59cHQwQvCnKV0YyeGWP78Qv4/LePkbeuEE99Hior
 sbJgZUQ0i72y+/7mkVlpseKTiz4vbeoeaYAwFGX2APdUHOS5t5byS6Of1ECC
 6IkpshMZVq9dQGumG0+TE+kQCA1uD0RIjiS44zP7KfiAj+AlfqRdIIXkGlsV
 K0d28tSJhRxunqIi5OSOK1umfQRIZxSGLnA7NeJJk74JDz9+uYbHn2sh+N4Q
 7lo/SglURmBlwEqLbZ0Ptpxr6gFScfV1py42KVMVIwU9qREe7l/N1qU7UEdW
 828lPbiqXAhdUVEYoOvItBibgb/019AwvoOrv+an6JoAeUvcIARWGm70RKie
 OsPHvxekb6KF4g0F9HqnOBJbwCLvUYajAX61txxdl6xdMEwsafHC/iIKKpyU
 XleBHrTn5HdTzHoIqbj6+gzuWV2o/5HDMcsS23L6PChLsHuym6fPrOD6up2s
 jRbmTnIlOTQ+wO11Pq7w1rA1L4+mkWZ+tLue0eQ43gYPSklUWnCVUc3ciePc
 8uUoE8Epqj5dirvOhb3IwZP46J0soq23mF8dH+VH/Z18bq8LQ4uTF7Hz7toB
 Ym1T02r1DCawLLHtfBfnbeq02LhRqyxs2yN0tWxWQpGK92YC3LRkLztGVvJI
 YoKUSDKXMBcm46SBf32ymwvXlrNzop2Ci/OQmmSDv4L38iY3fcfBgBim5Jri
 XNkxYy1lQXbqJHbE+MrNBh3pIky7xnK9hfd/0cRT5iMrTfxNQbBkTqnOin0d
 Q3NWnu/e/Ad5PbJ5cYmGtV9oKjxDAmVRPZHHttXtZIXBAyMNHE6eJTOaInpi
 Cluhjfdc3ITWlSRernGVb4pIppObv+ekLz1EeGMoV3qcZy0t91RSpqB5NM7n
 ik+y+3AJ72p4i/2d9Wx95E1CV+UanFnwpugzkUt/17V5R3+getOi5Upjx/kK
 NULhHNO5a47FwpJWDo7NYzslHJrqAt0CCTca+az2HuB0agF//899TObFCF9d
 jGbXWOCLUK7r/Kr/NIWOAv7W00uZ3o3TLnmhazlbvnUAd4WX2NkovkUFuGu8
 uT0/t/JJYfKud3Jr/iCDQ2iKbDRDVb+Xaxcluaj+NF3xEvapeo4n4dTEEGf+
 rZ3UQApfo4/K1eVcHCriEvsJAukukspDy3A19YU9pCw///yoh4W1Lh54rAXH
 Gi+eeXmz9ZU6t/L/qcHxB1tMQgOUIjWcoHzcz/trDVbUdpLvGMFmCGweP8JM
 k0okSGcUGXshzx6q48mftRMIe/nGjQP0jgfZ+t0E46E47jovSgkcYdd0T/y/
 ZDG9LZ3eweTLKRmKzESKWNskoUwe+djJ89gQKPpHEgwMjjOUGMdWYse30I+j
 zEXirRhjzaM4wk7yVgaRmpYDq/4EJt/M+K9sVoXK9dhKYaWyWHETJBh+A6HL
 aR1HoATTe7qa7kfEn95mnf3FP2ej+/zxZ/uowe+OP9uHPd5p/H8+bvPvPYLB
 aingGLkAAAAASUVORK5CYII=
XB-MeeGo-Desktop-Entry-Filename: quran
Description: Holy Quran application for MeeGo Harmattan
 Holy Quran application for MeeGo Harmattan
