[Desktop Entry]
Type=Application
Name=Quran
Icon=/usr/share/themes/base/meegotouch/icons/n9-quran-logo.png
Exec=/usr/bin/single-instance /opt/n9-quran/n9-quran
OnlyShowIn=X-MeeGo;
X-MeeGo-Translation-Catalog=quran
