#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

clean:
	dh_testdir
	dh_testroot

	-$(MAKE) distclean
	-$(MAKE) distclean -C sqlite/

	dh_clean

	rm -f build-stamp

build: build-stamp

build-stamp:
	dh_testdir

	qmake

	./build_sqlite.sh

	-$(MAKE)

	touch build-stamp

binary-indep:

binary-arch: build
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_install
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
